!/mcp/src/minecraft/net/minecraft/block/BlockBreakable.java
!/mcp/src/minecraft/net/minecraft/block/BlockPane.java
!/mcp/src/minecraft/net/minecraft/world/chunk/Chunk.java
!custom_formatter.xml
!README.md
!/mcp/build_netherstuffs.bat
!.gitignore
!/mcp/src/minecraft/bstramke/*
!/mcp/src/minecraft/buildcraft/*
!/mcp/src/minecraft/codechicken/*


/common/
/client/
/fml/
/patches/
*.py
*.pyc
*.cmd
*.properties
*.txt
*.sh
*.jar
*.zip

/mcp/CHANGELOG
/mcp/*.bat
/mcp/*.sh
/mcp/bin/
/mcp/conf/
/mcp/docs/
/mcp/eclipse/
/mcp/jars/
/mcp/lib/
/mcp/logs/
/mcp/reobf/
/mcp/runtime/
/mcp/temp/
/mcp/src/minecraft/*.cfg
/mcp/src/minecraft/*.info
/mcp/src/minecraft/*.png
/mcp/src/minecraft/*.properties
/mcp/src/minecraft/*.java
/mcp/src/minecraft/ibxm/
/mcp/src/minecraft/paulscode/
/mcp/src/minecraft/net/
/mcp/src/minecraft/cpw/



