/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

CHANGELOG
LICENSE.txt

/src/minecraft/*
!/src/minecraft/NetherStuffs/
!/src/minecraft/NetherStuffsCore/
/src/minecraft_server/*
/src/common/*
!/src/common/NetherStuffs/
!/src/common/net/minecraft/src/BlockPane.java
!/src/common/net/minecraft/src/BlockBreakable.java
!/src/common/NetherStuffsCore/
!/src/common/codechicken
!/src/common/codechickencore_at.cfg
!/src/common/nei_at.cfg
!/src/minecraft/net/minecraft/src/GuiContainer.*
!/src/common/buildcraft
!/src/common/netherstuffs_at.cfg

*.bat
!build_netherstuffs.bat
*.sh