/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

CHANGELOG
LICENSE.txt

/src/minecraft/*
!/src/minecraft/NetherStuffs/
!/src/minecraft/NetherStuffsCore/
/src/minecraft_server/*
/src/common/*
!/src/common/NetherStuffs/
!/src/common/NetherStuffsCore/



*.bat
*.sh